
services:
  backend:
    build: ./backend
    container_name: ft_backend
    environment:
      - NODE_ENV=development
      - PORT=3000
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./backend:/app
      - /app/node_modules
      - sqlite_data:/data/app.sqlite
    networks: [ftnet]
    command: npm run dev

  frontend:
    build: ./frontend
    container_name: ft_frontend
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=1
    depends_on:
      - backend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks: [ftnet]
    command: npm run dev -- --host 0.0.0.0

networks:
  ftnet:
    driver: bridge

volumes:
  sqlite_data: